table {   
	table-layout: fixed;  
	width: 40%;   
	border-collapse: separate;   
	border: 1px solid purple; 
}    

td 
{     
	display: table-cell;     
	vertical-align: inherit;   
	padding: 20px;
	border: 1px solid purple;     
}

.VE{
	background-color: #02AC1E;
}
 
.ROCK{
    background-color: #666;
}

.CA{
    background-color: #C00C00;
}

.HE{
    background-color: #1D1075; 
}